# Touch bring-up for HUAWEI Honor 9A (MOA-LX9N) TWRP
# Huawei THP stack: aptouch_daemon drives the GT1151 touch IC via the
# kernel's /sys/touchscreen/hostprocessing interface.

on init
    symlink /system/vendor /vendor

on early-boot
    setprop odm.thp.service_enable 1
    start aptouch

service aptouch /vendor/bin/aptouch_daemon
    class main
    user root
    group root system shell
    setenv LD_LIBRARY_PATH /system/lib:/vendor/lib
    disabled

on property:odm.thp.service_enable=1
    start aptouch
